{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit: {{ title }}
{% endblock %}

{% block body %}
    <h1>Edit: {{ title }}</h1>

    <form action="{% url 'save_edit' %}" method="POST">
        {% csrf_token %}
        <figure>
            <figcaption>Title</figcaption>
            <input type="text" name="title" placeholder="{{ title }}" value="{{ title }}">
        </figure>
        <figure>
            <figcaption>Page Content</figcaption>
            <textarea name="content" placeholder="Write your Markdown Here...">{{ content }}</textarea>
        </figure>
        <input type="submit" value="Edit Page">
    </form>
{% endblock %}
