/* NavBar */
.nav-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-item{
    margin: 10px;
}

.nav-link{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link:hover{
    text-decoration: underline;
}

/* Content */

.center-content{
    display: flex;
    justify-content: center;
}

.my{
    margin-top: 30px;
    margin-bottom: 30px;
}

.input-text{
    display: flex;
    z-index: 3;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    max-width: 584px;
}

.btn-google{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.lc{
    margin: 10px;
    position: absolute;
}

.search-heading{
    color: #d93025;
    font-size: 20px;
    margin: 30px 35px;
    font-weight: 5  00;
    font-style: normal;
}

.line{
    border-bottom: 1px solid #ebebeb;
}

.div-adv{
    margin: 15px;
}
.find-pages{
    font-size: 16px;
    color: #333333;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left{
    width: 200px;
}

.right{
    width: 385px;
}

.f-input{
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width: 572px;
    height: 29px;
}

.p-input{
    font-size: 13px;
}

.row-r{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 1040px;
    margin: 15px;
}
.adv-btn{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    height: 50px;
    border-radius: 5px;
}